<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231284583434-77bmpbjp4rf3v1kou8tidasd1nc3kurq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231284583434-77bmpbjp4rf3v1kou8tidasd1nc3kurq</string>
	<key>API_KEY</key>
	<string>AIzaSyDnKYEF1j7IbPM6jVqkANt6hmV7e73vnMc</string>
	<key>GCM_SENDER_ID</key>
	<string>231284583434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbfootballacademy.footballapp</string>
	<key>PROJECT_ID</key>
	<string>lbfa-d349b</string>
	<key>STORAGE_BUCKET</key>
	<string>lbfa-d349b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231284583434:ios:8122101fc108d1df1e03f3</string>
</dict>
</plist>